<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thimeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>all Users</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Lastname</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastname()}"></td>
        <td th:text="${user.getAge()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>